body {
    font-family: 'Roboto Mono', monospace, sans-serif;
    background: url(../images/greybackground.jpg) center center fixed;
}

header {
    margin:0;
}

hr {
    border-top-color: #847979;
}


/* -- Nav -- */

.navbar-inverse {
    background-color: #000;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0;
    border-radius: 0;
    text-transform: uppercase;
}

.navbar-nav>li>a {
    line-height: 30px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

#myNavbar ul li .active-page {
    color: #fff;
}

.icon {
    height: 30px;
    width: 80px;
}


/* -- Banner -- */

.banner-container{
    max-width: 100%;
    height: 100%;
}

.parallax { 
    background-image: url(../images/home.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.listen-parallax {
    background-image: url(../images/pixiesmedia.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.watch-parallax {
    background-image: url(../images/watchbanner.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tour-parallax {
    background-image: url(../images/tour.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-parallax {
    background-image: url(../images/contact.jpg);
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* -- Logo -- */

.logo {
    height: 110px;
    margin-top: 15px;
}

/* -- Main -- */

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
}

.btn-default:hover,
.btn-default:active {
    border-color: #333!important;
}

.jumbotron {
    background: url(../images/headcarrier.jpg) center center;
    height: 300px;
    text-align: center;
    border: 1.5px solid;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.container-fluid .jumbotron {
    border-radius: 0px;
}

.news {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.news-updates {
    margin-right: 15px;
    margin-left: 15px;
}

.thumbnail {
    float: left;
    border:0px;
    background-color: #fff0;
}

.news-updates .thumbnail img {
    width: 100%;
    height: 370px;
}

.story-button {
    border-radius: 0px;
    border-color: #000;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    border-width: 1.5px;
}

/* -- Listen -- */


.listen {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.btn.btn-lg.streaming-button, .btn.btn-lg.streaming-button:active {
    border-style: none;
    background-color: #fff0;
    box-shadow: none;
}

.btn-sm {   
    border: 1.5px solid;
}

.btn.btn-default.btn-sm:active, .btn.btn-default.btn-sm:hover, .btn.btn-default.btn-sm:focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #333;
}

.button-image {
    width: 180px;
    height: 68px;
}

/* -- Watch -- */


.watch {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.photos {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

/* -- Tour -- */

.tour {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.book-button {
    color: #ffffff;
    background-color: #e92c2c;
    border-color: #333;
    border-radius: 0px;
    border-width: 1.5px;
    text-transform: uppercase;
}

.book-button:hover, .book-button:focus, .book-button:active, .book-button.active, .open > .dropdown-toggle.book-button {
    color: #f1d6d6;
    background-color: #e92c2ce0;
    border-color: #000000;
}

.book-button:active, .book-button.active {
    color: #f1d6d6;
    background-color: #c41111;
    border-color: #000000;
}

/* -- Contact -- */

.contact {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
}

#name, #email, #message  {
    color: #333;
    text-transform: uppercase;
}

/* -- Footer -- */

.footer {
    background-color: #000;
    padding-top: 15px;
    color: #9d9d9d;
}

/* -- Top Button -- */

.top-button {
    color: #000;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    border-style: solid;
}

/* -- Email Sign Up -- */

.form-group {
    margin-bottom: 5px;
    color: #c3c3c3;
}

.sign-up-button {
    text-transform: uppercase;
    font-weight: 700;
}

.disclaimer {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    font-size: x-small;
}

/* -- Social Media Links -- */
 

.social-links {
    margin-bottom: 15px;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
 .social {
    color: #fff;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

#social-fb:hover {
     color: #3B5998;
}
#social-tw:hover {
     color: #4099FF;
}
#social-gp:hover {
     color: #d34836;
}
#social-in:hover {
     color: #cd486b;
}
#social-spot:hover {
     color: #1db954;
}
#social-yt:hover {
     color: #ff0000;
}
 
 /* -- Media Queries -- */
 
@media (min-width: 640px){
    
    .news {
       margin-left: 20px;
       margin-right: 20px;
    }
}

@media (min-width: 992px){
    
    .news {
       margin-left: 50px;
       margin-right: 50px;
    }
}

@media (max-width: 480px){
    
    .table {
        font-size: 10px!important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
    .contact-parallax {
        background-image: url(../images/contact.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: 55% 45%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax {
        background-image: url(../images/home.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: 55% 45%;
        background-repeat: no-repeat;
        background-size: cover;
    }
} 

@media (min-width:992px) {
    .jumbotron {
        height:450px;
    }
}

@media only screen and (orientation: landscape) {
    .contact-parallax {
        background-image: url(../images/contact.jpg);
        height: 500px;
        background-attachment: fixed;
        background-position: 55% 45%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
